**/target/**
**/.idea/**
**/.metadata
**/.settings
**/.project
**/.classpath
**/jspwiki.log
ImageGalleryPlugin/dist/jssor-templates
JiraPlugin/dist/jira-plugin-jar-dependencies
PanelPlugin/etc/jscolor/**
